<nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand">Xvisor</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to("Unreported Scans", images_path,method: :get) %> </li>
        <li><%= link_to("Reported Scans", images_check_path, method: :get) %></li>
        <li><%= link_to("API Demo", pages_demo_path, method: :get) %></li>
        <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %> </li>

      </ul>
</nav>
<div style="margin-top: 3em">
	<h1>Chest X-Ray: Unreported</h1>
	<div class="filter">
		<%= form_tag images_path, method: :get do %>
			<%= label_tag :department %>		
			<%= select_tag(:department, options_for_select(["Accident & Emergency", "Anaesthesia", "Clinical Oncology", "General Practice", "Obstetrics & Gynaecology", "Orthopaedics & Traumatology", "Paediatric", "Surgery" ])) %>	
			<%= submit_tag "Filter" %>
		<% end %>
	</div>
	<br>
	<br>
	<table class="table container-fluid">
		<thead>
			<tr>
				<th>Patient Name</th>
				<th>Date and Time</th>
				<th>Department</th>
				<th>Priority</th>
				<th><%= link_to 'Add', new_image_path%>  </th>
				<th colspan="1"></th>

			</tr>
		</thead>
		<tbody>
			<% @images.each do |image| %>
				<tr>
					<td><%= image.name %></td>
					<td><%= image.date %></td>
					<td><%= image.department %></td>
					<td><%= image.priority %></td>
					<td><%= link_to 'View', edit_image_path(image) %></td>
				</tr>
			<% end %>


		</tbody>
	</table>
</div>