<nav class="navbar navbar-default">
      <div class="navbar-header">
        <img class="navbar-brand" style="width:90px; height:50px; padding: 0;" src="/logo.jpg"></img>
      </div>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to("Unreported Scans", images_path,method: :get) %> </li>
        <li><%= link_to("Reported Scans", images_check_path, method: :get) %></li>
        <li><%= link_to("API Demo", pages_demo_path, method: :get) %></li>
        <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %> </li>

      </ul>
</nav>
<div class="alert" style="margin-top: 0;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  Possible Outbreak: Suspicious cluster of cases of pneumonia detected in Hong Kong West Cluster <br><a style="size:1em;color:gainsboro"; href="#">Click here for more details</a>
</div>
<div>
	<h1>Chest X-Ray: Reported</h1>
	<div class="filter">
		<%= form_tag images_path, method: :get do %>
			<%= label_tag :department %>		
			<%= select_tag(:department, options_from_collection_for_select(Image.all, :department, :department, params[:department])) %>	
			<%= submit_tag "Filter" %>
		<% end %>
	</div>
	<li><%= link_to("View All", images_check_path, method: :get)%></li>
	<br>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Patient Name</th>
				<th>Date and Time</th>
				<th>Reported Time</th>
				<th>Department</th>
				<th>Priority</th>
				<th>Mismatch</th>
				<th colspan="1"></th>

			</tr>
		</thead>
		<tbody>
			<% @images.each do |image| %>
			<% if(image.abnormality_doctor != image.abnormality_machine) -%>
				<tr>
					<td><%= image.name %></td>
					<td><%= image.date %></td>
					<td><%= image.date_reported %></td>
					<td><%= image.department %></td>
					<td><%= image.priority %></td>
					<% if(image.abnormality_doctor == image.abnormality_machine) -%>
					<td id="green"></td>
					<% end -%>
					<% if(image.abnormality_doctor != image.abnormality_machine) -%>
					<td id="red"></td>
					<% end -%>
					<td><%= link_to 'View', edit_image_path(image) %></td>
				</tr>
			<% end %>
			<% end %>


		</tbody>
	</table>
</div>